
p 
{
    width: 800px;
    margin: auto;
    font-size: 1.25em;
    color: blue

}

h1, h2,h3, h4, li, hr
{
    width:800px;
    margin: auto;
    font-size: 1.25em;
    
}


h1
{
    font-size: 2.20em;
    color:green;
    
}
h2
{
    font-size: 1.80em;
    color:green;
}

h3{
    font-size: 1.60em;
    color:green;
}

h4
{
    font-size: 1.20em;
    color:green;
}

blockquote
{width: 800px;
    margin: auto;
    font-size: 1.25em
}
